<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yireo_loki_checkout>
            <paynl>
                <ideal_fast_checkout_enabled>1</ideal_fast_checkout_enabled>
            </paynl>
        </yireo_loki_checkout>
    </default>
</config>
